@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	padding-bottom:2em;
	margin:0;
	@include no-select;
}
#product {
	text-align:center;
	box-shadow: 0 8px 4px -6px #eaeaea;
	margin-bottom: 1.5em;
	img {
		max-width:100%;
	}
}
#variations {
	width: 3450px;
}
h1 {
	text-align:center;
	margin: 1.5em .5em 1.5em .5em;
	font-weight:normal;
	display: inline-block;
}
nav {
	display:inline-block;
	ol {
		margin:0;
		display:inline-flex;
		li {
			display: inline-block;
			float:left;
			cursor: pointer;
			text-align:center;
			border:0;
			figure {
				margin: 0 25px 20px 25px;
				div.swatch {
					background: #e5e5e5;
					width: 34px;
					height: 35px;
				}
			}
			figcaption {
				visibility:hidden;
			}
			&.selected, :hover {
				div.swatch {
					background: #000;
				}
				figcaption {
					visibility:visible;
				}
			}
		}
	}
}

@media (min-width: 960px) {
	#product {
		top: 8em;
	  position: absolute;
	  width: 100%;
	  box-shadow: 0 -8px 4px -6px #eaeaea;
	  figure {
	  	margin-top: 8em;
	  }
	  h1 {
	    position: absolute;
		  top: 0;
		  left: 35%;
		  right: 35%;
		  margin-left:0;
		  margin-right:0;
	  }
	}
	nav {
		position:absolute;
		top: 2em;
		padding-bottom: 1em;
	}
}